extends ../base.pug

block content
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword", type="password")
        input(placeholder="New Password", name="newPassword", type="password")
        input(placeholder="New Password Confirm", name="newPasswordConfirm", type="password")
        input(type="submit", value="Change Password")